/* SCSS Document for making generic LamPI .css files 									*/
/* Author: M. Westenberg (mw12554@hotmail.com) 											*/
/* This file contains a template for (most) if not all "classic_xxxxx.css" files		*/
/* ------------------------------------------------------------------------------------ */

		
/* CORE HTML CSS */
	body {
		font-family		: comic sans ms; 
		color			: $dialog_fg_color; 	/* all text not belonging to special element */
		background		: $main_bg_color;
 	}
		
	table {
		width: 100%;
		height:auto;
	}

	p {
 		font-family:"Times New Roman";
 		font-size:16px;
 	}
	
	ul, ol {
		list-style: none;
	}
	
	input#lbl {
		width: 20px;
	}

	.button {
	}
		
	/* Prevent the field to get wider when hovering */
	.button:hover, input[type="submit"]:hover, .button:active, input[type="submit"]:active, input[type="input"]:hover
	{
		font-weight: normal;
		text-decoration: underline;
	}

/* DIVS for just one element */
	
/* The header header section defined */
	#gui_menu {
		position: inherit;
		left: 1px;
		top: 1px;
		width: 98%;
		padding:2px;
		height: 30px;
		border: 1px solid black;
		background-color:$menu_background;
	}
	
/* Not so much header as well controls for menu actions */	
	#gui_header {
		position: absolute;
		top: 35px;
		width: 98%;
		height: 70px;	
		padding:2px;
		left: 1px;
		margin-top: 0px;
		border: 1px solid black;
		text-align: center;
		background-color:$header_background;
	}
	#gui_header_content {
		position: inherit;
		top: 1px;
		left: 0px;
		width: 80%;
	}	
	#gui_header_controls {
		position: inherit; 
		top: 1px;
		left: 80%;
		margin-left: 1px;
		width: auto;
	}

	/* This is the area where all the devices in the active room have their 
		controls (switches and dimmers) defined
	*/

	#gui_content {
		position: absolute;
		top: 105px;
		width: 98%;
/*		margin-left: 1px; */
		left: 1px;
		padding: 2px;
		margin-top: 1px;
		bottom: 40px;
		border: 1px solid black;
		text-align: center;
		background-color:$content_background;
		overflow:auto;
	}				

	/* This is the area on the form where the user/program messages are displayed */
	#gui_messages {
		position: inherit; 
		width: 98%;
		height: 32px;
		padding: 2px;
		left:1px;
		bottom: 2px;
		margin-top: 1px;
		border: 1px solid black;
		text-align: center;
		background-color:$message_background;
	}
	#addRoomForm {
		background-color:$main_bg_color;
    	color:$dialog_fg_color;							/* ddeff1 */
    	font-weight:bold;
    	margin: 23px auto 0 auto;
    	border-radius:10px;
   		width: 400px;
    	box-shadow:  0 0 2px 2px #d9d9d9;
	}
	#addRoomForm label {
		padding-left:26px;
		width:150px;
		text-transform: uppercase;
		display:inline-block;
	}
		
	#addRoomForm input[type=text], 
	#addRoomForm input[type=file],
	#addRoomForm textarea {
    	width: 300px;
	}
		
		
/* CLASSES are for multiple elements */

	/* Header buttons. */
			
		/* Header Menu area definitions */
		.hm_button {
			width: 80px;
			height: 30px;
			align: center;
			border-radius: 6px;
			background-color:$button_bg_color;
			color:$button_fg_color;
			vertical-align: top;
		}
		.hm_button:hover {
			font-weight: bold;
			background-color: $button_hover_bg_color;
			color:$button_hover_fg_color;
		}
		
		/* Room header */
		.hr_button {
			width: 80px;
			height: 30px;
			border-radius: 6px;
			margin-bottom: 2px;
			color: $button_fg_color;
			background-color: $button_bg_color;
		}
		
		/* Indicating a mouse over for a room button */
		.hr_button:hover {
			font-weight: bold;
			color:$button_hover_fg_color;
			background-color: $button_hover_bg_color; 
		}	
		
		/* XXX needs reviewing */
		.rroom {
			width: 200 px;
			margin-bottom: 10px;
		}	
	
		/* Header Scene definition */
		.hs_button {
			width: 80px;
			height: 30px;
			border-radius: 5px;
			margin-top: 1px;
			margin-bottom: 2px;
			background-color:$button_bg_color;
			color:$button_fg_color;
		}
		
		.hs_button:hover {
			font-weight: bold;
			background-color:$button_hover_bg_color;
			color:$button_hover_fg_color;
		}
		
		/* Header Timer definitions */
		.ht_button {
			color: #90F;
			margin-top: 2px;
			width: 80px;
			height: 30px;
			border-radius: 5px;
			background-color: $button_bg_color;
			color:$button_fg_color;
		}
		
		.ht_button:hover {
			font-weight: bold;
			background-color: $button_hover_bg_color;
			color:$button_hover_fg_color;
		}

		/* Header Configuration definitions */
		.hc_button {
			margin-right: 1px;
			width: 80px;
			height: 35px;
			border-radius: 5px;
			background-color:$button_bg_color;
			color:$button_fg_color;
			align: center;
		}
		.hc_button:hover {
			font-weight: bold;
			background-color: $button_hover_bg_color;
		}
		
	/* Header Handset definitions */
	.hh_button {
		width: 80px;
		height: 30px;
		border-radius: 5px;
		margin-top: 3px; 
		margin-bottom: 2px;
		background-color: $button_bg_color;
		color:$button_fg_color;
	}
	.hh_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color:$button_hover_fg_color;
	}
	
		/* Header Weather definitions */
	.hw_button {
		width: 80px;
		height: 30px;
		border-radius: 5px;
		margin-top: 3px; 
		margin-bottom: 2px;
		background-color: $button_bg_color;
		color:$button_fg_color;
	}
	.hw_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color:$button_hover_fg_color;
	}
	
	/* Command Room button */
	.cr_button {
		height:30px;
		width: 35px;
	}
	/* Command Scene button */
	.cs_button {
		height:30px;
		width: 35px;
	}
	/* Command Timers button */
	.ct_button {
		height:30px;
		width: 35px;
	}
	/* Command Config button */
	.cc_button {
		height:30px;
		width: 35px;
	}
		
/* Grid and Widget defnitions */

	.widget {
		color:$widget_fg_color;
		background-color:$widget_bg_color;
	}
	.widget:hover {
		background-color:$widget_hover_bg_color;
	}		
		
/* Devices definitions */
	
	/* This dlabels descripts the text label left of a switch/dimmer device */
	.dlabels {
		width: 95px;
		height: 30px;
		border-radius:3px;
		margin-left: 1px;
		margin-top: 3px;
		margin-bottom: 3px;
		color: $dlabel_fg_color;
		background-color:$dlabel_bg_color;
	}

	/* buttons used in a dimmer/slider element . dbuttons are shared with scenes too*/
	.dbuttons {
			padding-right: 1px;
			height: 30px;
			width: auto;
			border-radius: 15px;
			margin-left: 2px;
			margin-right: 2px;
			margin-top: 2px;
			margin-bottom: 2px;
			color: $dbutton_fg_color;
			background-color:$button_bg_color;
	}
		
	.dbuttons:hover {
			font-weight: bold;
			background-color:$button_hover_bg_color;
	}
		
	.dbuttons:active  {
			color:yellow;
	} 
		
	.devrow {									/* device row */
				background-color: $row_bg_color;
	}	
	.devrow:nth-child(odd) {
				background-color:$row_nth_color;
	}
		
	/* This is the dimmer object consisting of dlabel, dbutton */
	.dimrow {
		background-color:$row_bg_color;
	}
	.dimrow:nth-child(odd) {
		background-color:$row_nth_color;
	}
	
	/* A switch element, so just ON/OFF button */
	.switch {
		background-color:$row_bg_color;
	}
	.switch:nth-child(odd) {
		background-color:$row_nth_color;
	}	

	
/* Scene definitions */
	
	.slabels {
		margin_left: 5px;
	}
	.sval {
		width: 70px;
	}
	
/* A row of scene */
	.scene {
		background-color:$button_bg_color;	
	}
	.scene:nth-child(odd) {
		background-color:$row_nth_color;
	}

/* Buttons for adding, removing and help */
	.new_button {
			color:#111;
			background-color:#6F6;			/* green */
			min-height:30px;
			width:30px;
	}	
	.del_button {
			color:white;
			background-color:#F33;			/* red */
			min-height:30px;
			width:30px
	}
	.help_button {
			background-color:#09F;			/* blue */
			min-height:30px;
			width:30px;
	}
	.play_button {
			color:black;
			background-color:#0FF;			/* lighter blue */
			min-height:30px;
			width:30px;
	}
	.stop_button {
		color:white;
		background-color:#F66;		/* Red */
		min-height:30px;
		min-width:60px
	}
	.all_off_button {
		min-width:100px;			/* this button be twice as wide as the off an on button together */
	}

				
/* General Defnitions */
	
	.filler {
			width:65%;
	}
	
	/* This element in the slider button is used to mark the selected button once pressed */
	.hover {
		background-color:$button_hover_bg_color;
		color:$button_hover_fg_color;
	}
		
	.dragger {
		text-shadow: #C00;
		background-color:#FF6;
	}
			
	.ui_dialog {
		background-color:$dialog_bg_color;
		color:$dialog_fg_color;
	}
	
	/* The element making up the slider. The jquery definition is even much more complex*/
	.slider {
			margin-left: 3px;
			margin-right: 3px;
			border-radius: 5px;
			width: 65%px;
	}
		
	/* The value of a slider in an input field */
	.slidval {
			width: 20px;
			height: 30px;
			margin-left: 5%;
	}
	
	/* Slider Dimmer specific definitions */
	
	.slider-dimmer .ui-slider {
    	width:50px; 
    	height:50px; 
    	background:url(./slider3.png) no-repeat; 
		overflow:hidden; 
    	position:absolute;
    	top: -10px;
    	border-style:none; 
	}
	.slider-dimmer .ui-slider-range {
		background: $dimmer_background;
	}
	.slider-dimmer .ui-slider-handle {
		width:50px; 
    	height:50px; 
    	/* background:url(./slider3.png) no-repeat; */
		background-color:#444;
		overflow:hidden; 
    	position:absolute;
    	top: -10px;
    	border-style:none; 
		border-color: $dimmer_handle; 
	}
	
	/* Slider Thermo: Specific thermo definitions */
	
	.slider-thermo {
		/* float:left; */
	}
	.slider-thermo .ui-slider .ui-btn-active {
	    width:50px; 
    	height:30px; 
    	/* background:url(./slider3.png) no-repeat; */
		background-color:#aaa;
		overflow:hidden; 
    	position:absolute;
    	top: -10px;
    	border-style:none; 
	}
	.slider-thermo .ui-slider-range {
		background:$thermo_background;
	}
	.slider-thermo .ui-slider-handle {
		width:50px; 
    	height:50px; 
 /*   	background:url(./slider3.png) no-repeat; */
 		background:$thermo_background;
		overflow:hidden; 
    	position:absolute;
    	top: -10px;
    	border-style:none; 
		border-color:$thermo_handle; 
	}

	/* Slider Health: The Health counter indicator */
	
	.slider-health {
		margin-top: 20px;
		background:#6F6;							/* left side of the handle, green */
		width:60px;
		height:6px;
		margin-left:2px;
		padding-top:2px;
		margin-right:2px;
		border-radius:3px;
	}
	.slider-health .ui-slider {
		width:60px;
	}
	.slider-health .ui-slider-range {
		background:$thermo_background;				/* This is red right part from handle to max */
	}
	.slider-health .ui-slider-handle {
    	background:none; 
		overflow:hidden; 
    	position:absolute;
    	border-style:none;
/*		border-color: $dimmer_background; */
	}
	.slider-health .ui-widget-content { 
		/*      */
	}
	.container-health .ui-slider-input {
    	display : none !important;
	}
	
	/* Slider Widget specific definitions */
	
	.slider-widget .ui-slider {
    	width:50px; 
    	height:50px; 
    	background:url(./slider3.png) no-repeat; 
		overflow:hidden; 
    	position:absolute;
    	top: -10px;
    	border-style:none; 
	}
	.slider-widget .ui-slider-range {
		background: $dimmer_background;
	}
	.slider-widget .ui-slider-handle {
		width:50px; 
    	height:50px; 
    	/* background:url(./slider3.png) no-repeat; */
		background-color:#444;
		overflow:hidden; 
    	position:absolute;
    	top: -10px;
    	border-style:none; 
		border-color: $dimmer_handle; 
	}

	input.ui-slider-input {
	  display: none !important;
	  width: 10px;
    }

/* Settings, various sich as files definitions etc. */
	
	.select-file {
		width: 300px;						/* this field should be longer than the longest filename */
		height: 30px;
		border-radius:3px;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: $dlabel_fg_color;
		background-color:$dlabel_bg_color;
	}
	
/* Forms */

	.askform {
	}
	.askform .ui-dialog-titlebar {
          background:$wrapper_bg_color;
    }
	.askform .ui-widget-content {
		background:$main_bg_color;
		color:$dialog_fg_color;
	}
	.askform .ui_dialog {
		background-color:$dialog_bg_color;
		color:$dialog_fg_color;
	}
	
/* ButtonSets */

	.buttonset .ui-btn-active {
		background-color:$button_active_bg_color; 
		color:$button_active_fg_color;
	}
	.buttonset .ui-radio .ui-radio-on {
		background-color:$button_active_bg_color; 
		color:$button_active_fg_color;
	}
	.buttonset:active {
		background-color:$button_active_bg_color; 
		color:$button_active_fg_color;
	}
	.buttonset:checked {
		background-color:$button_active_bg_color; 
		color:$button_active_fg_color;
	}