/* SCSS Document for making generic LamPI .css files */
/* Author: M. Westenberg (mw12554@hotmail.com) */
/* ----------------------- SCCS variable definitions -----------------------------------*/
/* yellow */
/* Dark Blue */
/* When a button is active it has this color */
/* white */
/* grey */
/* Color of the dimmer slider */
/* Color of the dimmer handler */
/* Color of the thermo slider */
/* Color of the thermo handler */
/* ------------------------------------------------------------------------------------ */
/* Import the generic template															*/
/* ------------------------------------------------------------------------------------ */
/* SCSS Document for making generic LamPI .css files 									*/
/* Author: M. Westenberg (mw12554@hotmail.com) 											*/
/* This file contains a template for (most) if not all "classic_xxxxx.css" files		*/
/* ------------------------------------------------------------------------------------ */
/* CORE HTML CSS */
body {
  font-family: comic sans ms;
  color: #ff0;
  /* all text not belonging to special element */
  background: #888; }

table {
  width: 100%;
  height: auto; }

p {
  font-family: "Times New Roman";
  font-size: 16px; }

input#lbl {
  width: 20px; }

/* Prevent the field to get wider when hovering */
.button:hover, input[type="submit"]:hover, .button:active, input[type="submit"]:active, input[type="input"]:hover {
  font-weight: normal;
  text-decoration: underline; }

/* DIVS for just one element */
/* The header header section defined */
#gui_menu {
  position: inherit;
  left: 1px;
  top: 1px;
  width: 98%;
  padding: 2px;
  height: 30px;
  border: 1px solid black;
  background-color: #AAA; }

/* Not so much header as well controls for menu actions */
#gui_header {
  position: absolute;
  top: 35px;
  width: 98%;
  height: 70px;
  padding: 2px;
  left: 1px;
  margin-top: 0px;
  border: 1px solid black;
  text-align: center;
  background-color: #AAA; }

#gui_header_content {
  position: inherit;
  top: 1px;
  left: 0px;
  width: 80%; }

#gui_header_controls {
  position: inherit;
  top: 1px;
  left: 80%;
  margin-left: 1px;
  width: auto; }

/* This is the area where all the devices in the active room have their 
	controls (switches and dimmers) defined
*/
#gui_content {
  position: absolute;
  top: 112px;
  width: 98%;
  /*		margin-left: 1px; */
  left: 1px;
  padding: 2px;
  margin-top: 1px;
  bottom: 40px;
  border: 1px solid black;
  text-align: center;
  background-color: #BBB;
  overflow: auto; }

/* This is the area on the form where the user/program messages are displayed */
#gui_messages {
  position: inherit;
  width: 98%;
  height: 32px;
  padding: 2px;
  left: 1px;
  bottom: 2px;
  margin-top: 1px;
  border: 1px solid black;
  text-align: center;
  background-color: #AAA; }

#addRoomForm {
  background-color: #888;
  color: #ff0;
  /* ddeff1 */
  font-weight: bold;
  margin: 23px auto 0 auto;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 2px 2px #d9d9d9; }

#addRoomForm label {
  padding-left: 26px;
  width: 150px;
  text-transform: uppercase;
  display: inline-block; }

#addRoomForm input[type=text],
#addRoomForm input[type=file],
#addRoomForm textarea {
  width: 300px; }

/* CLASSES are for multiple elements */
/* Header buttons. */
/* Header Menu area definitions */
.hm_button {
  width: 80px;
  height: 30px;
  align: center;
  border-radius: 6px;
  background-color: #666;
  color: #eee;
  vertical-align: top; }

.hm_button:hover {
  font-weight: bold;
  background-color: #ff0;
  color: #38f; }

/* Room header */
.hr_button {
  width: 80px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 2px;
  color: #eee;
  background-color: #666; }

/* Indicating a mouse over for a room button */
.hr_button:hover {
  font-weight: bold;
  color: #38f;
  background-color: #ff0; }

/* XXX needs reviewing */
.rroom {
  width: 200 px;
  margin-bottom: 10px; }

/* Header Scene definition */
.hs_button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 2px;
  background-color: #666;
  color: #eee; }

.hs_button:hover {
  font-weight: bold;
  background-color: #ff0;
  color: #38f; }

/* Header Timer definitions */
.ht_button {
  color: #90F;
  margin-top: 2px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #666;
  color: #eee; }

.ht_button:hover {
  font-weight: bold;
  background-color: #ff0;
  color: #38f; }

/* Header Configuration definitions */
.hc_button {
  margin-right: 1px;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background-color: #666;
  color: #eee;
  align: center; }

.hc_button:hover {
  font-weight: bold;
  background-color: #ff0; }

/* Header Handset definitions */
.hh_button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 2px;
  background-color: #666;
  color: #eee; }

.hh_button:hover {
  font-weight: bold;
  background-color: #ff0;
  color: #38f; }

/* Header Weather definitions */
.hw_button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 2px;
  background-color: #666;
  color: #eee; }

.hw_button:hover {
  font-weight: bold;
  background-color: #ff0;
  color: #38f; }

/* Command Room button */
.cr_button {
  height: 30px;
  width: 35px; }

/* Command Scene button */
.cs_button {
  height: 30px;
  width: 35px; }

/* Command Timers button */
.ct_button {
  height: 30px;
  width: 35px; }

/* Command Config button */
.cc_button {
  height: 30px;
  width: 35px; }

/* Devices definitions */
/* This dlabels descripts the text label left of a switch/dimmer device */
.dlabels {
  width: 95px;
  height: 30px;
  border-radius: 3px;
  margin-left: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: black;
  background-color: #eee; }

/* buttons used in a dimmer/slider element . dbuttons are shared with scenes too*/
.dbuttons {
  padding-right: 1px;
  height: 30px;
  width: auto;
  border-radius: 15px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: eee;
  background-color: #666; }

.dbuttons:hover {
  font-weight: bold;
  background-color: #ff0; }

.dbuttons:active {
  color: yellow; }

.devrow {
  /* device row */
  background-color: #AAA; }

.devrow:nth-child(odd) {
  background-color: #888; }

/* This is the dimmer object consisting of dlabel, dbutton */
.dimrow {
  background-color: #AAA; }

.dimrow:nth-child(odd) {
  background-color: #888; }

/* A switch element, so just ON/OFF button */
.switch {
  background-color: #AAA; }

.switch:nth-child(odd) {
  background-color: #888; }

/* Scene definitions */
.slabels {
  margin_left: 5px; }

.sval {
  width: 70px; }

/* A row of scene */
.scene {
  background-color: #666; }

.scene:nth-child(odd) {
  background-color: #888; }

/* Buttons for adding, removing and help */
.new_button {
  color: #111;
  background-color: #6F6;
  /* green */
  min-height: 30px;
  width: 30px; }

.del_button {
  color: white;
  background-color: #F33;
  /* red */
  min-height: 30px;
  width: 30px; }

.help_button {
  background-color: #09F;
  /* blue */
  min-height: 30px;
  width: 30px; }

.play_button {
  color: black;
  background-color: #0FF;
  /* lighter blue */
  min-height: 30px;
  width: 30px; }

.stop_button {
  color: white;
  background-color: #F66;
  /* Red */
  min-height: 30px;
  min-width: 60px; }

.all_off_button {
  min-width: 100px;
  /* this button be twice as wide as the off an on button together */ }

/* General Defnitions */
.filler {
  width: 65%; }

/* This element in the slider button is used to mark the selected button once pressed */
.hover {
  background-color: #ff0;
  color: #38f; }

.dragger {
  text-shadow: #C00;
  background-color: #FF6; }

.ui_dialog {
  background-color: #030;
  color: #ff0; }

/* The element making up the slider. The jquery definition is even much more complex*/
.slider {
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  width: 65% px; }

/* The value of a slider in an input field */
.slidval {
  width: 20px;
  height: 30px;
  margin-left: 5%; }

/* Slider Dimmer specific definitions */
.slider-dimmer .ui-slider {
  width: 50px;
  height: 50px;
  background: url(./slider3.png) no-repeat;
  overflow: hidden;
  position: absolute;
  top: -10px;
  border-style: none; }

.slider-dimmer .ui-slider-range {
  background: #F3F178; }

.slider-dimmer .ui-slider-handle {
  width: 50px;
  height: 50px;
  /* background:url(./slider3.png) no-repeat; */
  background-color: #444;
  overflow: hidden;
  position: absolute;
  top: -10px;
  border-style: none;
  border-color: #ef2929; }

/* Slider Thermo: Specific thermo definitions */
.slider-thermo {
  /* float:left; */ }

.slider-thermo .ui-slider .ui-btn-active {
  width: 50px;
  height: 30px;
  /* background:url(./slider3.png) no-repeat; */
  background-color: #aaa;
  overflow: hidden;
  position: absolute;
  top: -10px;
  border-style: none; }

.slider-thermo .ui-slider-range {
  background: #F66; }

.slider-thermo .ui-slider-handle {
  width: 50px;
  height: 50px;
  /*   	background:url(./slider3.png) no-repeat; */
  background: #F66;
  overflow: hidden;
  position: absolute;
  top: -10px;
  border-style: none;
  border-color: #ef2929; }

/* Slider Health: The Health counter indicator */
.slider-health {
  margin-top: 20px;
  background: #6F6;
  /* left side of the handle, green */
  width: 60px;
  height: 6px;
  margin-left: 2px;
  padding-top: 2px;
  margin-right: 2px;
  border-radius: 3px; }

.slider-health .ui-slider {
  width: 60px; }

.slider-health .ui-slider-range {
  background: #F66;
  /* This is red right part from handle to max */ }

.slider-health .ui-slider-handle {
  background: none;
  overflow: hidden;
  position: absolute;
  border-style: none;
  /*		border-color: $dimmer_background; */ }

.slider-health .ui-widget-content {
  /*      */ }

.container-health .ui-slider-input {
  display: none !important; }

/* Settings, various sich as files definitions etc. */
.select-file {
  width: 300px;
  /* this field should be longer than the longest filename */
  height: 30px;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  background-color: #eee; }

/* Forms */
.askform .ui-dialog-titlebar {
  background: #555; }

.askform .ui-widget-content {
  background: #888;
  color: #ff0; }

.askform .ui_dialog {
  background-color: #030;
  color: #ff0; }

/* ButtonSets */
.buttonset .ui-btn-active {
  background-color: #38f;
  color: yellow; }

.buttonset .ui-radio .ui-radio-on {
  background-color: #38f;
  color: yellow; }

.buttonset:active {
  background-color: #38f;
  color: yellow; }

.buttonset:checked {
  background-color: #38f;
  color: yellow; }

/* ------------------------------------------------------------------------------------	*/
/* OVERRIDE AREA 																		*/
/* If you want to change template settings for this specific skin you can do this here	*/
/* ------------------------------------------------------------------------------------	*/
