/* SCSS Document for making generic LamPI .css files */
/* Author: M. Westenberg (mw12554@hotmail.com) */

/* ----------------------- SCCS variable definitions -----------------------------------*/
$wrapper_bg_color: #ddd913;
$wrapper_bg_picture: url("pic_wood_1.jpg");

$main_bg_color: #ddd913;
$main_nth_color: #AD820C;
$main_msg_color: #EDB211;

$content_background: '';			/* No background color used in image background */
$message_background: '';
$header_background: '';
$menu_background: '';

$button_bg_color: #705B22;
$button_fg_color: #F7E3AB;
$button_hover_bg_color: #0A0A0A;
$button_hover_fg_color: #F7B707;
$button_active_fg_color: yellow;	/* When a button is active it has this color */
$button_active_bg_color: #111;

$dlabel_fg_color: #F7E3AB;
$dlabel_bg_color: #957a0f;
$dbutton_fg_color: #F7E3AB;
$dbutton_bg_color: #957a0f;

$row_bg_color: $main_bg_color;
$row_nth_color: #bab712;

$dialog_fg_color: #453202;			/* Also used in normal body text */
$dialog_bg_color: #997309;

$dimmer_background: #d2abfc;		/* Color of the dimmer slider */
$dimmer_handle: #ef2929;			/* Color of the dimmer handler */

$thermo_background: #F66;			/* Color of the thermo slider */
$thermo_handle: #ef2929;			/* Color of the thermo handler */

/* ------------------------------------------------------------------------------------ */
/* Import the generic template															*/

@import '_classic-template';