/* SCSS Document for making generic LamPI .css files */
/* Author: M. Westenberg (mw12554@hotmail.com) */
/* ----------------------- SCCS variable definitions -----------------------------------*/
/* ------------------------------------------------------------------------------------- */
/* CORE HTML CSS */
body {
  font-family: comic sans ms;
  background: #030;
  color: #eee; }

table {
  width: 100%;
  height: auto; }

tr {
  /* width: 600px; */ }

td {
  /*	height: 38px; */ }

p {
  font-family: "Times New Roman";
  font-size: 20px; }

input#lbl {
  width: 20px; }

/* Prevent the field to get wider when hovering */
.button:hover, input[type="submit"]:hover, .button:active, input[type="submit"]:active, input[type="input"]:hover {
  font-weight: normal;
  text-decoration: underline; }

/* DIVS for just one element, each DIV has a unique id starting with # */
#wrapper {
  position: relative;
  top: 5px;
  width: 952px;
  height: 602px;
  margin: auto;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid black;
  background-color: #002A00; }

/* The header header section defined */
#gui_header {
  position: absolute;
  top: 5px;
  width: 940px;
  height: 80px;
  margin: auto;
  padding: 5px;
  margin-top: 0px;
  border: 1px solid black;
  text-align: center;
  background-color: #030; }

/* The two sections below are width + 15px apart */
#gui_header_controls {
  position: inherit;
  top: 0px;
  left: 0px;
  width: 105px; }

/* So if the one above is 105px width, then this one starts at 120px left */
#gui_header_content {
  position: inherit;
  top: 0px;
  left: 120px;
  width: 805px; }

/* This is the area where all the devices in the active room have their 
	controls (switches and dimmers) defined
*/
#gui_content {
  position: absolute;
  left: 120px;
  top: 95px;
  width: 805px;
  height: 445px;
  margin-left: 1px;
  left: 130px;
  margin: auto;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid black;
  text-align: center;
  background-color: #030;
  color: #eee;
  overflow: hidden; }

#gui_menu {
  position: absolute;
  left: 5px;
  top: 95px;
  width: 105px;
  padding: 5px;
  margin: auto;
  height: 445px;
  margin-top: 5px;
  border: 1px solid black;
  background-color: #030;
  vertical-align: top; }

/* This is the area on the bottom where the user/program messages are displayed */
#gui_messages {
  position: absolute;
  top: 550px;
  width: 930px;
  height: 25px;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  background-color: #030;
  color: #eee; }

#addRoomForm {
  background-color: #060;
  color: #eee;
  font-weight: bold;
  margin: 23px auto 0 auto;
  border-radius: 10px;
  /* width: 500px; */
  width: auto;
  box-shadow: 0 0 2px 2px #d9d9d9; }

#addRoomForm label {
  padding-left: 20px;
  width: 150px;
  /* text-transform: uppercase; */
  display: inline-block; }

#addRoomForm input[type=text],
#addRoomForm input[type=file],
#addRoomForm textarea {
  width: auto; }

/* CLASSES are for multiple elements */
/* Header buttons. */
/* Room header */
.hr_button {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  /* margin-left: 5px; */
  margin-bottom: 4px;
  background-color: #060;
  color: #0e0;
  border-top-color: #040;
  border-left-color: #040;
  border-bottom-color: #020;
  border-right-color: #020; }

/* Indicating a mouse over for a room button */
.hr_button:hover {
  font-weight: bold;
  background-color: #0e0;
  color: #111; }

/* XXX needs reviewing */
.rroom {
  width: 300 px;
  margin-bottom: 10px; }

/* Header Scene definition */
.hs_button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  /* margin-top: 3px; */
  margin-bottom: 4px;
  background-color: #060;
  color: #0e0; }

.hs_button:hover {
  font-weight: bold;
  background-color: #0e0;
  color: #111; }

/* Header Timer definitions */
.ht_button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  /* margin-top: 5px; */
  margin-bottom: 4px;
  background-color: #060;
  color: #0e0; }

.ht_button:hover {
  font-weight: bold;
  background-color: #0e0;
  color: #111; }

/* Header Handset definitions */
.hh_button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  /* margin-top: 5px; */
  margin-bottom: 4px;
  background-color: #060;
  color: #0e0; }

.hh_button:hover {
  font-weight: bold;
  background-color: #0e0;
  color: #111; }

/* Header Weather definitions */
.hw_button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  /* margin-top: 5px; */
  margin-bottom: 4px;
  background-color: #060;
  color: #0e0; }

.hw_button:hover {
  font-weight: bold;
  background-color: #0e0;
  color: #111; }

/* Header Menu area definitions */
.hm_button {
  margin-left: auto;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  vertical-align: top;
  background-color: #060;
  color: #0e0;
  border-top-color: #040;
  border-left-color: #040;
  border-bottom-color: #020;
  border-right-color: #020; }

.hm_button:hover {
  font-weight: bold;
  background-color: #0e0;
  color: #111; }

/* Header Configuration definitions */
.hc_button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  margin-left: 5px;
  align: center;
  background-color: #060;
  color: #0e0; }

.hc_button:hover {
  font-weight: bold;
  background-color: #0e0;
  color: #111; }

/* We might combine the 6 buttons types below, as they all refer to the command buttons */
/* on the header row. which are: New, Delete, Help buttons */
/* Command Room button */
.cr_button {
  height: 35px;
  width: 35px;
  margin: 1px; }

/* Command Scene button */
.cs_button {
  height: 35px;
  width: 35px;
  margin: 1px; }

/* Command Timers button */
.ct_button {
  height: 35px;
  width: 35px;
  margin: 1px; }

/* Command Handset button */
.ch_button {
  height: 35px;
  width: 35px;
  margin: 1px; }

/* Command Help button */
.ch_button:help_button {
  align: right;
  margin: 1px; }

/* Command Weather button */
.cw_button {
  height: 35px;
  width: 35px;
  margin: 1px; }

/* Command Config button */
.cc_button {
  height: 35px;
  width: 35px;
  margin: 1px; }

/* Devices definitions. Define all elements that are used in the devices form in #gui_content */
/* This dlabels descripts the text label left of a switch/dimmer device */
.dlabels {
  width: 120px;
  height: 30px;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #0e0;
  background-color: #060;
  border-top-color: #040;
  border-left-color: #040;
  border-bottom-color: #020;
  border-right-color: #020; }

/* buttons used in a dimmer/slider element . dbuttons are shared with scenes too*/
.dbuttons {
  padding-right: 5px;
  min-height: 30px;
  width: auto;
  border-radius: 15px;
  margin-left: 3px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #0e0;
  background-color: #060;
  border-color: #020; }

.dbuttons:hover {
  font-weight: bold;
  background-color: #0A0; }

.dbuttons:active {
  color: #0A0; }

.devrow {
  /* device row */
  background-color: #030; }

.devrow:nth-child(odd) {
  background-color: #040; }

/* This is the dimmer object consisting of dlabel, dbutton */
.dimrow {
  background-color: #030; }

/* A switch element, so just ON/OFF button */
/* XXX This element also color the bar above the room/device screen */
.switch {
  background-color: #030; }

/* Scene definitions */
.slabels {
  margin_left: 10px; }

.sval {
  width: 90px; }

/* A row of scene */
.scene {
  background-color: #030;
  color: #0F0; }

.scene:nth-child(odd) {
  background-color: #040; }

/* Handset Definitions */
/* A row of handset */
.handset {
  background-color: #030; }

.handset:nth-child(odd) {
  background-color: #040; }

/* Buttons for adding, removing and help */
.new_button {
  color: #000;
  /* Black Text */
  background-color: #0F0;
  /* Green Background */
  min-height: 30px;
  width: 30px; }

.del_button {
  color: #000;
  /* Black Text */
  background-color: #F66;
  /* Red Background */
  min-height: 30px;
  width: 30px; }

.help_button {
  background-color: #09F;
  /* Blue */
  min-height: 30px;
  width: 30px; }

.play_button {
  color: #000;
  /* White Text */
  background-color: #0FF;
  /* Blue Background */
  min-height: 30px;
  min-width: 60px; }

.stop_button {
  background-color: #F66;
  /* RED */
  min-height: 30px;
  min-width: 60px; }

/* General Definitions */
/* The element making up the slider. The jquery definition is even much more complex*/
.slider {
  margin-left: 20px;
  margin-right: 25px;
  border-radius: 5px;
  width: 350px;
  background-color: #00F; }

/* The value of a slider in an input field */
.slidval {
  width: 30px;
  height: 30px;
  margin-left: 10%; }

.ui-slider .ui-slider-handle {
  width: 50px;
  height: 50px;
  background: url(./green_slider_point_3.png) no-repeat;
  overflow: hidden;
  position: absolute;
  top: -10px;
  border-style: none; }

.filler {
  width: 300px; }

/* This element in the slider button is used to mark the selected button once pressed */
.hover {
  background-color: #060;
  color: #F00;
  /* Red */ }

.active {
  background-color: #060;
  color: #F00;
  /* Red */ }

.dragger {
  text-shadow: #C00;
  background-color: #060; }

.ui_dialog {
  background-color: #030;
  color: #0e0; }
