@charset "utf-8";

/* SCSS Document for making generic LamPI .css files */
/* Author: M. Westenberg (mw12554@hotmail.com) */

/* ----------------------- SCCS variable definitions -----------------------------------*/
$wrapper_bg_color: #555;
$wrapper_bg_picture: "";

$main_bg_color: #888;
$main_nth_color: #bbb;
$main_msg_color: #eee;

$content_background: #BBB;
$message_background: #AAA;
$header_background: #AAA;
$menu_background: #AAA;

$row_bg_color: #AAA;
$row_nth_color: #888;

$button_bg_color: #666;
$button_fg_color: #eee;
$button_hover_bg_color: #ff0;		/* yellow */
$button_hover_fg_color: #38f;		/* Dark Blue */
$button_active_fg_color: yellow;	/* When a button is active it has this color */
$button_active_bg_color: #38f;

$dlabel_fg_color: black;
$dlabel_bg_color: #eee;
$dbutton_fg_color: eee;				/* white */
$dbutton_bg_color: #666;			/* grey */

$dimmer_background: #F3F178;		/* Color of the dimmer slider */
$dimmer_handle: #ef2929;			/* Color of the dimmer handler */

$thermo_background: #F66;			/* Color of the thermo slider */
$thermo_handle: #ef2929;			/* Color of the thermo handler */

$dialog_fg_color: #ff0;
$dialog_bg_color: #030;

/* ------------------------------------------------------------------------------------ */
/* Import the generic template															*/
/* ------------------------------------------------------------------------------------ */

@import '_scale-android-template';

/* ------------------------------------------------------------------------------------	*/
/* OVERRIDE AREA 																		*/
/* If you want to change template settings for this specific skin you can do this here	*/
/* ------------------------------------------------------------------------------------	*/