/* SCSS Document for making generic LamPI .css files */
/* Author: M. Westenberg (mw12554@hotmail.com) */

/* ----------------------- SCCS variable definitions -----------------------------------*/
$wrapper_bg_color: #002A00;

$main_bg_color: #030;
$main_nth_color: #040;
$main_msg_color: #eee;

$button_bg_color: #060;
$button_fg_color: #0e0;
$button_hover_bg_color: #0e0;
$button_hover_fg_color: #111;

$dialog_fg_color: #0e0;
$dialog_bg_color: #030;
/* ------------------------------------------------------------------------------------- */

/* CORE HTML CSS */
	body {
  		font-family: comic sans ms;
  		background: $main_bg_color;
		color: $main_msg_color;
	}

	table {
  		width: 100%;
  		height: auto;
	}

	tr {
		/* width: 600px; */
	}

	td {
		/*	height: 38px; */
	}

	p {
		font-family: "Times New Roman";
		font-size: 20px;
	}

	input#lbl {
		width: 20px;
	}

/* Prevent the field to get wider when hovering */
	.button:hover, input[type="submit"]:hover, .button:active, input[type="submit"]:active, input[type="input"]:hover {
		font-weight: normal;
		text-decoration: underline;
	}

/* DIVS for just one element, each DIV has a unique id starting with # */
	#wrapper {
		position: relative;
		top: 5px;
		width: 952px;
		height: 602px;
		margin: auto;
		padding: 5px;
		margin-top: 5px;
		border: 1px solid black;
		background-color: $wrapper_bg_color;
	}

/* The header header section defined */
	#gui_header {
		position: absolute;
		top: 5px;
		width: 940px;
		height: 80px;
		margin: auto;
		padding: 5px;
		margin-top: 0px;
		border: 1px solid black;
		text-align: center;
		background-color: $main_bg_color;
	}

	#gui_header_controls {
		position: inherit;
		top: 0px;
		left: 820px;
		width: 105px;
	}

	#gui_header_content {
		position: inherit;
		top: 0px;
		left: 0px;
		width: 805px;
	}

/* This is the area where all the devices in the active room have their 
	controls (switches and dimmers) defined
*/
	#gui_content {
		position: absolute;
		left: 5px;
		top: 95px;
		width: 815px;
		height: 445px;
		margin-left: 1px;
		margin: auto;
		padding: 5px;
		margin-top: 5px;
		border: 1px solid black;
		text-align: center;
		background-color: $main_bg_color;
		color: $main_msg_color;
		overflow: hidden;
	}

	#gui_menu {
		position: absolute;
		left: 835px;
		top: 95px;
		width: 110px;
		padding: 5px;
		margin: auto;
		height: 445px;
		margin-top: 5px;
		border: 1px solid black;
		background-color: $main_bg_color;
		vertical-align: top;
	}

/* This is the area on the bottom where the user/program messages are displayed */
	#gui_messages {
		position: absolute;
		top: 550px;
		width: 930px;
		height: 25px;
		margin: auto;
		padding: 10px;
		margin-top: 10px;
		border: 1px solid black;
		text-align: center;
		font-size: 14px;
		background-color: $main_bg_color;
		color: $main_msg_color;
	}

	#addRoomForm {
		background-color: $button_bg_color;
		color: $main_msg_color;
		font-weight: bold;
		margin: 23px auto 0 auto;
		border-radius: 10px;
		/* width: 500px; */
		width: auto;
		box-shadow: 0 0 2px 2px #d9d9d9;
	}

	#addRoomForm label {
		padding-left: 20px;
		width: 150px;
		/* text-transform: uppercase; */
		display: inline-block;
	}

	#addRoomForm input[type=text],
	#addRoomForm input[type=file],
	#addRoomForm textarea {
		width: auto;
	}

/* CLASSES are for multiple elements */
/* Header buttons. */
/* Room header */
	.hr_button {
		width: 100px;
		height: 35px;
		border-radius: 6px;
		margin-top: 2px; 
		margin-bottom: 2px;
		background-color: $button_bg_color;
		color: $button_fg_color;
		border-top-color: #040;
		border-left-color: #040;
		border-bottom-color: #020;
		border-right-color: #020;
	}

/* Indicating a mouse over for a room button */
	.hr_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color: $button_hover_fg_color;
	}

/* XXX needs reviewing */
	.rroom {
		width: 300 px;
		margin-bottom: 10px;
	}

/* Header Scene definition */
	.hs_button {
		width: 100px;
		height: 35px;
		border-radius: 5px;
		margin-top: 2px; 
		margin-bottom: 2px;
		background-color: $button_bg_color;
		color: $button_fg_color;
	}

.hs_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color: $button_hover_fg_color;
	}

/* Header Timer definitions */
	.ht_button {
		width: 100px;
		height: 35px;
		border-radius: 5px;
		margin-top: 2px; 
		margin-bottom: 2px;
		background-color: $button_bg_color;
		color: $button_fg_color;
	}

	.ht_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color: $button_hover_fg_color;
	}

/* Header Handset definitions */
	.hh_button {
		width: 100px;
		height: 35px;
		border-radius: 5px;
		margin-top: 2px; 
		margin-bottom: 2px;
		background-color: $button_bg_color;
		color: $button_fg_color;
	}

	.hh_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color: $button_hover_fg_color;
	}

/* Header Weather definitions */
	.hw_button {
		width: 100px;
		height: 35px;
		border-radius: 5px;
		margin-top: 2px; 
		margin-bottom: 2px;
		background-color: $button_bg_color;
		color: $button_fg_color;
	}

	.hw_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color: $button_hover_fg_color;
	}

/* Header Menu area definitions */
	.hm_button {
		margin-left: auto;
		width: 100px;
		height: 35px;
		border-radius: 6px;
		vertical-align: top;
		background-color: $button_bg_color;
		color: $button_fg_color;
		border-top-color: #040;
		border-left-color: #040;
		border-bottom-color: #020;
		border-right-color: #020;
	}

	.hm_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color: $button_hover_fg_color;
	}

/* Header Configuration definitions */
	.hc_button {
		width: 100px;
		height: 35px;
		border-radius: 5px;
		margin-top: 2px; 
		margin-bottom: 2px;
		align: center;
		background-color: $button_bg_color;
		color: $button_fg_color;
	}

	.hc_button:hover {
		font-weight: bold;
		background-color: $button_hover_bg_color;
		color: $button_hover_fg_color;
	}

/* We might combine the 6 buttons types below, as they all refer to the command buttons */
/* on the header row. which are: New, Delete, Help buttons */
/* Command Room button */
	.cr_button {
		height: 35px;
		width: 35px;
		margin: 1px;
	}

/* Command Scene button */
	.cs_button {
		height: 35px;
		width: 35px;
		margin: 1px;
	}

/* Command Timers button */
	.ct_button {
		height: 35px;
		width: 35px;
		margin: 1px;
	}

/* Command Handset button */
	.ch_button {
		height: 35px;
		width: 35px;
		margin: 1px;
	}

/* Command Help button */
	.ch_button:help_button {
		align: right;
		margin: 1px;
	}

/* Command Weather button */
	.cw_button {
		height: 35px;
		width: 35px;
		margin: 1px;
	}

/* Command Config button */
	.cc_button {
		height: 35px;
		width: 35px;
		margin: 1px;
	}

/* Devices definitions. Define all elements that are used in the devices form in #gui_content */
/* This dlabels descripts the text label left of a switch/dimmer device */
	.dlabels {
		width: 120px;
		height: 30px;
		border-radius: 3px;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: $dialog_fg_color;
		background-color: $button_bg_color;
		border-top-color: #040;
		border-left-color: #040;
		border-bottom-color: #020;
		border-right-color: #020;
	}

/* buttons used in a dimmer/slider element . dbuttons are shared with scenes too*/
	.dbuttons {
		padding-right: 5px;
		min-height: 30px;
		width: auto;
		border-radius: 15px;
		margin-left: 3px;
		margin-right: 2px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: $dialog_fg_color;
		background-color: $button_bg_color;
		border-color: #020;
	}

	.dbuttons:hover {
		font-weight: bold;
		background-color: #0A0;
	}

	.dbuttons:active {
		color: #0A0;
	}

	.devrow {										/* device row */
		background-color: $main_bg_color;
	}

	.devrow:nth-child(odd) {
		background-color: $main_nth_color;
	}

/* This is the dimmer object consisting of dlabel, dbutton */
	.dimrow {
		background-color: $main_bg_color;
	}

/* A switch element, so just ON/OFF button */
/* XXX This element also color the bar above the room/device screen */
	.switch {
		background-color: $main_bg_color;
	}

/* Scene definitions */
	.slabels {
		margin_left: 10px;
	}

	.sval {
		width: 90px;
	}

/* A row of scene */
	.scene {
		background-color: $main_bg_color;
		color: #0F0;
	}

	.scene:nth-child(odd) {
		background-color: $main_nth_color;
	}

/* Handset Definitions */
/* A row of handset */
	.handset {
		background-color: $main_bg_color;
	}

	.handset:nth-child(odd) {
		background-color: $main_nth_color;
	}

/* Buttons for adding, removing and help */
	.new_button {
  		color: #000;										/* Black Text */
  		background-color: #0F0;								/* Green Background */
  		min-height: 30px;
  		width: 30px;
	}

	.del_button {
		color: #000;										/* Black Text */
		background-color: #F66;								/* Red Background */
		min-height: 30px;
		width: 30px;
	}

	.help_button {
		background-color: #09F;								/* Blue */
		min-height: 30px;
		width: 30px;
	}

	.play_button {
		color: #000;										/* White Text */
		background-color: #0FF;								/* Blue Background */
		min-height: 30px;
		min-width: 60px;
	}

	.stop_button {
		background-color: #F66;								/* RED */
		min-height: 30px;
		min-width: 60px;
	}

/* General Definitions */
/* The element making up the slider. The jquery definition is even much more complex*/
	.slider {
		margin-left: 20px;
		margin-right: 25px;
		border-radius: 5px;
		width: 350px;
		background-color: #00F;
	}

/* The value of a slider in an input field */
	.slidval {
		width: 30px;
		height: 30px;
		margin-left: 10%;
	}

	.ui-slider .ui-slider-handle {
		width: 50px;
		height: 50px;
		background: url(slider3.png) no-repeat;
		overflow: hidden;
		position: absolute;
		top: -10px;
		border-style: none;
	}

	.filler {
		width: 300px;
	}

/* This element in the slider button is used to mark the selected button once pressed */
	.hover {
		background-color: $button_bg_color;
		color: #F00;										/* Red */
	}

	.active {
		background-color: $button_bg_color;
		color: #F00;										/* Red */
	}

	.dragger {
		text-shadow: #C00;
		background-color: $button_bg_color;
	}

	.ui_dialog {
		background-color: $dialog_bg_color;
		color: $dialog_fg_color;
	}

