@charset "utf-8";

/* ------------------------------------------------------------------------------------ */
/* SCSS Document for making generic LamPI .css files 									*/
/* Author: M. Westenberg (mw12554@hotmail.com) 											*/
/* This SCSS file is for charcoal classic-blue											*/


/* ----------------------- SCCS variable definitions -----------------------------------*/
$wrapper_bg_color: #bfc2fd;			/* Background color of the wrapper */
$wrapper_bg_picture: "";

$main_bg_color: #ced0fd;			/* The main background color used for this Look and Feel */
$main_nth_color: #bfc2fd;
$main_msg_color: #ffffff;

$content_background: #d8dafe;
$message_background: #c4c7fd;
$header_background: #c4c7fd;
$menu_background: #c4c7fd;

$row_bg_color: #c4c7fd;
$row_nth_color: #abaffc;

$button_fg_color: #111;				/* Almost Black */
$button_bg_color: #EEE;				/* Background color for the buttons */
$button_hover_bg_color: #FF6;		/* How does the color of a button change if it is hovered */
$button_hover_fg_color: #111;		/* Foreground color for button when hovered */
$button_active_fg_color: yellow;	/* When a button is active it has this color */
$button_active_bg_color: #111;

$dlabel_fg_color: black;
$dlabel_bg_color: #eee;
$dbutton_fg_color: black;
$dbutton_bg_color: #eee;

$dimmer_background: #d2abfc;		/* Color of the dimmer slider */
$dimmer_handle: #ef2929;			/* Color of the dimmer handler */

$thermo_background: #fbaf89;			/* Color of the thermo slider */
$thermo_handle: #ef2929;			/* Color of the thermo handler */

$dialog_fg_color: #222;				/* also text in the content area */
$dialog_bg_color: #DDD;

/* ------------------------------------------------------------------------------------ */
/* Import the generic template															*/

@import '_classic-template';