@charset "utf-8";

/* ------------------------------------------------------------------------------------ */
/* SCSS Document for making generic LamPI .css files 									*/
/* Author: M. Westenberg (mw12554@hotmail.com) 											*/
/* ------------------------------------------------------------------------------------ */

/* ----------------------- SCCS variable definitions -----------------------------------*/
/* Most important parameters can be set in this area									*/
/* some, like setting picture buttons etc, and changing color of the add, help buttons	*/
/* can be set by overriding the default skin _templates									*/
/* ------------------------------------------------------------------------------------ */

$wrapper_bg_color: #94B8FF;			/* Background color of the wrapper */
$wrapper_bg_picture:url("pic_sea_1.jpg");

$main_bg_color: #CCC;				/* The main background color for this Look and Feel */
$main_nth_color: #AAA;
$main_msg_color: #222;

$content_background: '';
$message_background: '';
$header_background: '';
$menu_background: '';

$row_bg_color: #B4CDFF;
$row_nth_color: #94B8FF;

$button_fg_color: #111;				/* Almost Black */
$button_bg_color: #EEE;				/* Background color for the buttons */

$button_hover_bg_color: #FF6;		/* How does the color of a button change when hovered */
$button_hover_fg_color: #111;		/* Foreground color for button when hovered */

$button_active_fg_color: yellow;	/* When a button is active it has this color */
$button_active_bg_color: #111;

$dlabel_fg_color: black;
$dlabel_bg_color: #eee;

$dbutton_fg_color: black;
$dbutton_bg_color: #eee;

$widget_fg_color: #fff;	
$widget_bg_color: #444;				/* Make a little darker than a button */
$widget_hover_bg_color: #ffa;		/* Somewhat less Yellow than the main hover color */

$dimmer_background: #F3F178;		/* Color of the dimmer slider */
$dimmer_handle: #ef2929;			/* Color of the dimmer handler */

$thermo_background: #F66;			/* Color of the thermo slider */
$thermo_handle: #ef2929;			/* Color of the thermo handler */

$dialog_fg_color: #222;				/* also text in the content area */
$dialog_bg_color: #94B8FF;

/* ------------------------------------------------------------------------------------ */
/* Import the generic template															*/
/* ------------------------------------------------------------------------------------ */

@import '_scale-menu-right-template';

/* ------------------------------------------------------------------------------------	*/
/* OVERRIDE AREA 																		*/
/* If you want to change template settings for this specific skin you can do this here	*/
/* ------------------------------------------------------------------------------------	*/

/* Make sure that the timer screen has a uni background */
#gui_timers {
		background-color:$wrapper_bg_color;
		background-image:'';
}